{% extends "base.html" %}
{% block page_title %}About - null Community{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="page-header"><h3>null Community Platform</h3></div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h4>About</h4>
    <p>This portal will host event related information for null community. For more details <a href="{% url 'chapters:list' %}">browse the chapters</a>.</p>
    <p>This application is now open source and available in our <a href="https://github.com/null-open-security-community/swachalit" target="_blank" rel="noreferrer">Github</a></p>
    <br>
    <h4>Contribution</h4>
    <p>If you are a Python/Django developer or some one experienced with HTML/CSS/JS and UI/UX stuff, we really need your help. If you would like to volunteer to improve this project, kindly get in touch with us.</p>
    <p>Refer to our <a href="https://github.com/null-open-security-community/swachalit/wiki/contributing-to-swachalit-devops" target="_blank" rel="noreferrer">Contributor's Guide</a></p>
    <br>
    <h4>Security Reports</h4>
    <p>Please report security vulnerabilities privately to <a href="mailto:security@pavankarthick.in">security@pavankarthick.in</a></p>
    <br>
    <h4>Bug Reports</h4>
    <p>
      Bug reporting is a fundamental requirement of any community project. If you feel this platform is helping the community, please consider reporting bugs.<br>
      Please raise an issue in our <a href="https://github.com/null-open-security-community/swachalit/issues" target="_blank" rel="noreferrer">Github Tracker</a>.
    </p>
  </div>
</div>
{% endblock %}
