{% extends "base.html" %}
{% block page_title %}Forum - null Community{% endblock %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <iframe id="forum_embed" src="about:blank" scrolling="yes" frameborder="0" width="100%" height="900">
    </iframe>
  </div>
</div>
{% endblock %}
{% block extra_js %}
<script>
  document.getElementById("forum_embed").src =
    "https://groups.google.com/forum/embed/?place=forum/null-co-in" +
    "&showsearch=false&showpopout=false&parenturl=" +
    encodeURIComponent(window.location.href);
</script>
{% endblock %}
