{% load humanize %}
<div class="table-responsive">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Date</th>
        <th>Event Type</th>
        <th>Event</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for event in events %}
      <tr>
        <td><strong><u>{{ event.start_time|date:"Y-m-d" }}</u></strong></td>
        <td><span class="label label-info">{{ event.event_type.name }}</span></td>
        <td>
          <a href="{% url 'events:detail' event.pk %}" style="text-decoration:none">
            <strong>{{ event.descriptive_name|truncatechars:60 }}</strong>
          </a>
          <span class="label label-success">
            <a href="{% url 'chapters:detail' event.chapter.pk %}" style="text-decoration:none;color:inherit;">{{ event.chapter.name }}</a>
          </span>
          <span class="label label-warning">{{ event.start_time|naturaltime }}</span>
          <span class="label label-danger">Sessions: {{ event.event_sessions.count }}</span>
        </td>
        <td width="20%" style="font-size:90%">
          <a href="{% url 'events:detail' event.pk %}" style="text-decoration:none;">{{ event.register_name }} [{{ event.event_registrations.count }}]</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
