{% load static %}
<footer>
  <div class="container">
    <div class="row">
      <hr>
      <div class="col-md-4">
        <img src="{% static 'images/null_logo.png' %}" alt="null logo"><br>
      </div>
      <div class="col-md-5"></div>
      <div class="col-md-3">
        <div class="row">
          <div class="col-md-12"><small><strong>null - The Open Security Community</strong></small></div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <ul class="list-inline">
              <li><a href="http://www.twitter.com/null0x00" target="_blank" aria-label="Twitter" style="font-size:40px;line-height:1"><i class="fa fa-twitter-square"></i></a></li>
              <li><a href="http://www.facebook.com/null0x00" target="_blank" aria-label="Facebook" style="font-size:40px;line-height:1"><i class="fa fa-facebook-square"></i></a></li>
              <li><a href="https://groups.google.com/forum/#!forum/null-co-in" target="_blank" aria-label="Mailing list" style="font-size:40px;line-height:1"><i class="fa fa-envelope-square"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <small>
            Made with <a href="http://www.rubyonrails.org" target="_blank">Ruby on Rails</a>, now <a href="https://www.djangoproject.com" target="_blank">Django</a>, with love from <a href="http://www.getbootstrap.com" target="_blank">Twitter Bootstrap</a> &amp; <a href="http://www.bootswatch.com" target="_blank">Bootswatch</a>.
            Checkout our <a href="{% url 'core:privacy' %}">Privacy Policy</a>
          </small>
        </div>
        <br>
      </div>
    </div>
  </div>
</footer>
