{% load static %}
<header class="navbar navbar-default navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <a href="/" class="navbar-brand">n|u</a>
      <button class="navbar-toggle pull-right" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
        <li>
          <a href="{% url 'core:upcoming' %}"><i class="fa fa-calendar"></i> Upcoming Events</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Archive <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'core:archives' %}"><i class="fa fa-archive"></i> Events</a></li>
            <li><a href="#"><i class="fa fa-code"></i> Sessions <small>(coming soon)</small></a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Chapter <b class="caret"></b></a>
          <ul class="dropdown-menu">
            {% for chapter in nav_chapters %}
            <li>
              <a href="{% url 'chapters:detail' chapter.pk %}"><i class="fa fa-arrow-circle-right"></i> {{ chapter.name }}</a>
            </li>
            {% endfor %}
            <li class="divider"></li>
            <li><a href="{% url 'chapters:list' %}"><i class="fa fa-info-circle"></i> <strong>More</strong></a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Engage <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{{ CFG_GOOGLE_GROUPS_URL }}" target="_blank">Join Mailing List</a></li>
            <li><a href="{{ CFG_VOLUNTEER_FORM_URL }}" target="_blank">Become a Volunteer</a></li>
            <li><a href="{% url 'proposals:request_new' %}">Request a Session</a></li>
            <li><a href="{% url 'proposals:proposal_new' %}">Propose a Session</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>
          <ul class="dropdown-menu">
            {% for page in nav_pages %}
            <li><a href="{% url 'content:page_detail' page.slug %}">{{ page.navigation_name }}</a></li>
            {% endfor %}
            <li><a href="/api-v2/swagger/" target="_blank"><i class="fa fa-code"></i> API</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
        <li>
          <div style="margin-top: 10px;">
            <a href="{% url 'accounts:public_profile' user.pk %}">
              <img src="{{ user.avatar_url }}" class="img-circle" width="30" height="30" alt="{{ user.name }}">
            </a>
          </div>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'accounts:public_profile' user.pk %}"><i class="fa fa-globe"></i> Public Profile</a></li>
            <li><a href="{% url 'events:my_sessions' %}"><i class="fa fa-bullseye"></i> My Sessions</a></li>
            <li><a href="{% url 'proposals:proposal_index' %}?user_id={{ user.pk }}"><i class="fa fa-bullhorn"></i> My Proposals</a></li>
            {% if user.managed_chapters.all|length %}
              <li><a href="{% url 'leads:event_index' %}"><i class="fa fa-wrench"></i> Event Management</a></li>
              <li><a href="{% url 'leads:chapter_index' %}"><i class="fa fa-paw"></i> Chapter Management</a></li>
              <li><a href="{% url 'leads:venue_index' %}"><i class="fa fa-wrench"></i> Venue Management</a></li>
            {% endif %}
            <li class="divider"></li>
            <li>
              <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-link" style="padding:3px 20px;"><i class="fa fa-sign-out"></i> Sign-out</button>
              </form>
            </li>
          </ul>
        </li>
        {% else %}
        <li><a href="{% url 'account_login' %}"><i class="fa fa-sign-in"></i> Login / Register</a></li>
        {% endif %}
        <li><a href="{% url 'core:about' %}"><i class="fa fa-book"></i> About</a></li>
      </ul>
    </nav>
  </div>
</header>
